<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="shortcut icon" href="../uploads/leaf-svgrepo-com.png">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body class="flex items-center justify-center w-full h-screen text-white bg-gray-900 bg-[url('https://i.pinimg.com/736x/48/40/0d/48400da4ba81a3a531fbb61519114b8a.jpg')] bg-cover bg-center bg-no-repeat">



  <!-- Login Form -->
<div class="w-full max-w-md p-8 bg-gray-900 bg-opacity-70 backdrop-blur-lg rounded-lg shadow-lg border border-gray-700">
  <h1 class="mb-6 text-3xl font-semibold text-center">Login</h1>
  
  <form action="/login" method="POST" class="space-y-6">
    <div>
      <label for="email" class="block mb-2 text-sm font-medium text-gray-300">Email</label>
      <input type="email" name="email" id="email" required 
             class="w-full p-3 text-white placeholder-gray-400 bg-gray-700 bg-opacity-50 border border-gray-500 rounded-md focus:outline-none focus:ring-2 focus:ring-pink-500">
    </div>
    <div>
      <label for="password" class="block mb-2 text-sm font-medium text-gray-300">Password</label>
      <input type="password" name="password" id="password" required
             class="w-full p-3 text-white placeholder-gray-400 bg-gray-700 bg-opacity-50 border border-gray-500 rounded-md focus:outline-none focus:ring-2 focus:ring-pink-500">
    </div>
    
    <button type="submit" class="w-full py-3 text-white transition-colors bg-pink-700 rounded-md hover:bg-pink-600">Login</button>
  </form>

  <p class="mt-4 text-sm text-center text-gray-400">
    <a href="/register" class="text-pink-400 hover:text-pink-300">Don't have an account? Register here.</a>
    
  </p>
  <p class="mt-4 text-sm text-center text-gray-400">
    
    <a href="/forgot-password" class="text-pink-400 hover:text-pink-300">Forgot Password?</a>
  </p>
  
  
</div>


</body>
</html>